@import "vendor/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    transition: .3s ease;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
    user-select: none;
}

.menu .menu-item:hover {
    background: #343434;
}

.custom-messages {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-messages__message {
    border: 1px solid darkorange;
    border-radius: 5px;
    background-color: #FF5F00;
    color: aliceblue;
    padding: 7px;
    margin: 5px;
    font-weight: bold;
    transition: opacity 0.5s ease;
}

.custom-messages__message_hidden {
    opacity: 0;
}

.pokemon-card {
    border: 5px solid rgb(228, 104, 62);
    border-radius: 5px;
    max-width: 130px;
    background-color: rgb(253, 201, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.pokemon-card__name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.pokemon-card__img {
    text-align: center;
}

.pokemon-card__stats {
    padding: 5px;
}
.module-clock-hidden {
    margin: 100px auto;
    width: 700px;
    display: block; 
    text-align: center;
    padding: 20px;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(23, 95, 171);
    border-radius: 30px;
    color: rgb(18, 36, 121);
    opacity: 0;
    transition: opacity  .1s ease;

  }

.module-clock-hidden.show {
    opacity: 1;
}

